body {
    font-family: "Lora", serif;
    font-size: 1.3em;
}

.main-container {
    width: 80%;
    margin: auto;
}

.title {
    text-align: center;
}

ul.song-list {
    list-style-type: none;
}

@media all and (max-width: 640px) {
    .main-container {
	width: 95%;
	margin: auto;
    }
    
}