{% load staticfiles %}

<html>
  <head>
    <title>Good Chord Charts</title>
    
    <link rel="stylesheet"
	  href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{% static "base-site.css" %}">
    <link rel="stylesheet" href="{% static "manage_charts/home.css" %}">
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="main-container">
      <h1 class="title">Songs</h1>

      <ul class="song-list">
	{% for song in song_list %}
	<li class="song-item"><a href="{{song.id}}">"{{song.title}}"
	    {% if song.artist != "" %}
	    - {{song.artist}}
	    {% endif %}
	    {% if song.album != "" %}
	    , {{song.album}}
	    {% endif %}
	  </a>
	</li>
      
	{% endfor %}
      </ul>
    </div>
    
  </body>
</html>
