{% load staticfiles %}
<html>
  <head>
    <title>Edit {{ song.title }}</title>
    
    <link rel="stylesheet" href="{% static "pure-min.css" %}">
    <link rel="stylesheet" href="{% static "manage_charts/chordchart.css" %}">
    <link rel="stylesheet" href="{% static "manage_charts/editform.css" %}">
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="container">
      {# TODO: Think about putting a navbar somewhere around here #}
      <div id="edit-pane">
	  <form action="" method="post" class="edit-chart-form pure-form">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <div class="button-container">
	      <input type="submit" name="submit" value="Submit" class="pure-button" id="submit-button">
	      {#<input type="submit" name="preview" value="Preview" class="pure-button" id="preview-button">#}
	      <button type="button" class="pure-button" id="preview-button">Preview</button>
	      <input type="submit" name="cancel" value="Cancel" class="pure-button" id="cancel-button">
	    </div>
	  </form>

      </div>

      <div id="preview-pane">
	<div class="header">
	  <h1 class="title">{{ song.title }}</h1>
	  {% if song.artist != "" %}
	  <h2 class="artist">{{ song.artist }},&nbsp;</h2>
	  {% endif %}
	  <h2 class="album">{{ song.album }}</h2>

	</div>
	
	<div class="chord-chart">
	  {% autoescape off %}
	  
	  {% for section in chordchart.sections %}
	  <h3 class="section-name">{{ section.section_name }}</h3>
	  <div class="section">
	    {% for measure in section.measures %}
	    {% if measure.double_barline %}
	    <div class="measure double-barline">
	      {% else %}
	      <div class="measure">{% endif %}
		{% for chord in measure.chords %}
		<div class="chord">
		  {% if chord.slashnote %}
		  <sup>{{chord.rootnote}}<sup>{{chord.quality}}</sup></sup>/<sub>{{chord.slashnote}}</sub>
		  {% else %}{{chord.rootnote}}<sup>{{chord.quality}}</sup>
		  {% endif %}
		</div>
		
		{% endfor %}
	      </div>
	      
	      {% endfor %}
	      
	    </div>
	    {% endfor %}
	    
	    {% endautoescape %}
	    
	  </div>
	  
	</div>
	
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static "js/editform.js" %}"></script>
  </body>
</html>
