@import url("http://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro|Droid+Sans");

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
